<%- include ('header') %>
<div class="row">
    <div class="col">
        <h1><%=title%></h1>        
    </div>
    
    <div class="col">
        <a href="/courses/createCourse" class="btn btn-primary float-right">+ Add Course</a>
    </div>
</div>


<div class="row">
    <div class="col">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Photo</th>
                    <th>Name</th>
                    <th>Duration</th>
                    <th>Actions</th>
                </tr>
            </thead>
            
            <tbody>
                <% courses.forEach((course, index) => { %>
                    <tr>
                        <td><%=(index+1)%></td>
                        <td>
                            <img src="<%=course.photo%>" width="80px" />
                        </td>
                        <td><%=course.name%></td>
                        <td><%=course.duration%></td>
                        <td>
                            <a href="#" class="btn btn-primary btn-sm">View</a>
                            <a href="/courses/updateCourse/<%= course._id %>" class="btn btn-primary float-right">+ Update Course</a>
                            <a href="/courses/deleteCourse/<%= course._id %>" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete this course')">Delete</a>
                            <!--<a href="#" class="btn btn-danger btn-sm">Delete</a>-->
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>        
    </div>
</div>

<%- include ('footer') %>